.Dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .address {
    max-width: 30rem;
    padding-bottom: 2rem;
  }

  .signOut {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
  }

  .actions {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2rem;

    .buttonHeader {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem;
    }

    .view {
      min-width: 300px;
    }
  }
}
